.summary-card {
    width: calc(100% - 32px);
    background-color: white;
    margin: auto;
    display: flex;
    flex-direction: row;
    padding: 16px;
    border-bottom: 1px solid #10b981;
}

.summary-card:first-child{
    border-top: 1px solid #10b981;
}

.summary-card-stats-wrap {
    display: flex;
    flex-direction: column;
    width: 110px;
    justify-content: center;
    align-items: flex-end;
    flex-wrap: wrap;
}

.summary-card-stats {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 6px;
    margin-right: 10px;
    margin-bottom: 4px;
}

.summary-card-stats-label {
    font-size: 13px;
    line-height: 22px;
}

.summary-card-data {
    display: flex;
    flex-direction: column;
    gap: 6px;
    width: calc(100% - 110px);
}

.summary-card-data-title {

}

.summary-card-data-title-link {
    font-size: 17px;
    line-height: 22px;
    display: inline;
    color: #065F46;
    font-weight: 500;
    cursor: pointer;
    word-break: break-word !important;
    overflow-wrap: break-word !important;
    hyphens: auto !important;
}

.summary-card-data-title-link:hover {
    color: rgba(6, 95, 70, 0.8);
}

.summary-card-data-tags {
    display: inline-flex;
    gap: 4px;
}

.summary-card-data-tag {
    background-color: rgba(16, 185, 129, 0.3);
    color: #065F46;
    border-radius: 5px;
    font-size: 12px;
    padding: 4px 6px;
    cursor: default;
}

.summary-card-data-links-source {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2px;
    line-height: 22px;
    font-size: 14px;
    border-bottom: 1px solid #065F46;
    color: #065F46;
    cursor: pointer;
}
.summary-card-data-links-source:hover {
    border-bottom: 1px solid rgb(4, 51, 38);
    color: rgb(4, 51, 38);
}
.summary-card-data-links-source:hover .summary-card-data-links-source-icon {
    color: rgb(4, 51, 38);
}

.summary-card-data-links {
    display: flex;
    justify-content: space-between;
}

.summary-card-data-links-source-icon {
    font-size: 12px;
    color: #065F46;
    line-height: 22px;
}

.summary-card-data-links-author {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2px;
    line-height: 22px;
    color: #065F46;
    font-size: 12px;
    font-weight: 500;
}

.main-div{
    margin: auto;
    max-width: 1024px;
    min-height: calc(100vh - 70px);
    border-left: 2px solid #10b981;
}

.main-div-tools{
    width: calc(100% - 24px);

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 24px 0 24px 24px;
}
.main-div-button {
    background-color: #10b981;
    padding: 10px;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

.main-div-button:hover {
    background-color: #0e865c;
}

.main-div-minor-text{
    color: #282c34;
    font-size: 30px;
    margin: 10px 5px 10px 5px;
    width: 410px;
    text-align: right;
}

.main-div-page{
    display: flex;
    margin: auto;
    justify-content: center;
}

.main-div-page-text{
    color: #282c34;
    font-size: 30px;
    margin: 10px 5px 10px 5px;
    text-align: right;
}

.main-div-major-text{
    font-size: 27px;
    text-align: left;
}

.main-div-search{
    color: chocolate;
    font-size: 30px;
    height: 50px;
    margin-right: 100px;
    text-align: right;
    width: 500px;
}
.card-profile-img{
    width: 50px;
    height: 50px;
    border-radius: 25px;
    background-color: black;
    margin: 10px 10px 10px;
}

.card-holder{
    display: flex;
    flex-direction: column;
    width: 100%;
    flex-wrap: wrap;
}

.card-description{
    width: 850px;
    height: 80px;
    background: wheat;
    font-size: 20px;
    color: #282c34;
    margin: 10px;
    padding: 10px 25px 10px 25px;
}