.future-header{
    width: 100%;
    height: 70px;
    background: #065F46;
}
.header-content{
    width: 100%;
    padding: 15px;
    display: flex;
    justify-content: space-between;
}
.header-left-block{
}
.header-right-block{
    display: flex;
    flex-direction: row;
}
.company-name{
    color: white;
    margin: 10px;
    text-decoration: none;
}
.company-name:focus, :hover, :visited, :link, :active {
    text-decoration: none;
}
.company-name:hover{
    color: wheat;
    transition: all 200ms ease;
}
