.push-summary-container{
    width: 100%;
    display: flex;
    justify-content: center;
}
.push-summary{
    min-width: 1216px;
    display: flex;
    justify-content: center;
}
.push-summary-form{
    display: flex;
    flex-direction: column;
    width: calc(70%);
}


.push-summary-form-title {

}
.push-summary-form-main-tip{
    padding: 24px;
    background-color: rgba(16, 185, 129, 0.1);
    border: 1px solid #065F46;
    border-radius: 10px;
    margin-bottom: 16px;
}
.push-summary-form-main-tip-header{
    margin-top: 0;
}
.push-summary-form-main-tip-text{
    font-size: 15px;
}
.push-summary-form-main-tip-steps li{
    font-size: 13px;
}
.push-summary-form-main-tip-steps ul {
    margin: 0;
}
.push-summary-form-main-tip-steps h5 {
    margin-bottom: 0;
}
.push-summary-form-card {
    position: relative;
    margin-bottom: 16px;
    padding: 24px;
    border: 1px solid rgb(227, 230, 232);
    border-radius: 10px;
    background-color: white;
    display: flex;
    flex-direction: column;
}

.push-summary-form-card-input {
    padding: 8px 9px;
    border-radius: 6px;
    border: 1px solid rgb(186, 191, 197);
}

.push-summary-form-card-input-wrap, .push-summary-form-card-textarea-wrap {
    display: flex;
    flex-direction: column;
    gap: 3px
}
.push-summary-form-card-label {
    font-size: 15px;
}
.push-summary-form-card-sub-label{
    font-size: 12px;
    margin: 2px 0;
    color: rgb(99, 107, 116);
}


.push-summary-form-card-input-button{
    background-color: #10b981;
    padding: 10px;
    margin-top: 12px;
    font-size: 13px;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    line-height: 15px;
    max-width: 30px;
    font-weight: 500;
}

.push-summary-form-card-input-button:hover {
    background-color: #0e865c;
}

.push-summary-form-card-label{}
.push-summary-form-card-textarea-wrap{}

.push-summary-form-card-hint {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.push-summary-form-card-sub-generation{
    font-size: 13px;
    margin: 2px 0;
    color: rgb(34, 35, 37);
}

.push-summary-form-card-sub-generation a {
    margin-left: 4px;
    font-size: 13px;
    border-bottom: 1px solid #065F46;
    color: #065F46;
    cursor: pointer;
}
.summary-card-data-links-source a:hover {
    border-bottom: 1px solid rgb(4, 51, 38);
    color: rgb(4, 51, 38);
}

.push-summary-form-card-sub-button{
    background-color: rgba(147, 146, 146, 0.3);
    border: 1px solid #606267;
    color: #000000;
    padding: 5px 10px;
    font-size: 12px;
    border-radius: 5px;
    cursor: pointer;
    line-height: 15px;

    font-weight: 500;
}
.push-summary-form-card-sub-button:hover {
    background-color: rgba(147, 146, 146, 0.4);
}
.add-summary-text{}
.push-summary-form-card-textarea{
    min-height: 300px;
    resize: vertical;
    border: 1px solid rgb(186, 191, 197);
    border-radius: 6px;
    padding: 6px;
}

.push-summary-form-card-input-publish-button {
    background-color: #10b981;
    padding: 10px;
    margin-top: 12px;
    font-size: 13px;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    line-height: 15px;
    max-width: 110px;
    font-weight: 500;
}

.push-summary-form-card-input-button:hover {
    background-color: #0e865c;
}

.disabled {
    pointer-events: none;
    cursor: not-allowed;
    background-color: rgba(117, 122, 120, 0.9) !important;
}

.card-validation {
    color: red;
    font-size: 13px;
}